{% extends 'auth/base.html' %}
{% block title %}

{{title}}

{% endblock %}
{% block body %}
    {% if flash %}
        {% for error in flash.values %}
            {% for er in error %}
                <h3 class="registrationerror alert alert-danger">{{ er }}</h3>
                {% endfor %}
        {% endfor %}
    {% endif %}
<form class="form-control regform"  method="POST">
    {%csrf_token%}
    <h5 class="hki">Логин:</h5>
    {{form.username}}<br>
    <h5 class="hki">Пароль:</h5>
    {{form.password1}}<br>
    <h5 class="hki">Подтвердите пароль:</h5>
    {{form.password2}}<br>    
    
    <input class="btn btn-success regbutton" type="submit" value= "РЕГИСТРАЦИЯ">
</form>
    <br>
{{mes}}
    
<div class ="loginhome">
    <a class="btn btn-primary btn-lg" href="{% url 'login' %}" > Login</a>
    <a class="btn btn-primary btn-lg" href="{% url 'index' %}" > Home</a>
</div>
<!-- <a class="btn btn-default" href="{% url 'login' %}"  role="button">Ссылка</a>
<button class="btn btn-default" type="submit">Кнопка</button>
<input class="btn btn-default" type="button" value="Ввод">
<input class="btn btn-default" type="submit" value="Отправить"> -->
{% endblock %} 